//- Название сайта и описание
- var pageTitle    = "Gb_adaptive_1"
- var pageDesc     = "Сайт по 6 уроку GeekBrains"

//- Meta
    //- compatible может содержать значения false, "edge"
- var compatible   = ""
//- viewport может иметь значения false, "adaptive", "not adaptive", "scalable" (масштабируемый)
- var viewport     = "adaptive"

//- Подлючение скриптов, стилей, шрифта
- var bootstrap    = false
- var fontAwesome  = false
- var googleFonts  = false
