//Start block header
header.header
    .header__wrap-menu
        .container.header__inner-menu
            a(href="#").logo
                img(src="./img/Vector.svg")
            button.menu-mini
                img(src="./img/24-mobile-menu.svg")
            ul.menu
                li.menu__list
                    a(href="#").menu__link.menu__link_active link
                li.menu__list
                    a(href="#").menu__link link
                li.menu__list
                    a(href="#").menu__link link
                li.menu__list
                    a(href="#").menu__link link
    .header__wrap-text
        .container.header__inner-text
            .header__text
                p.header__p Lorem ipsum dolor.
                h2.header__heading Lorem ipsum dolor.
                p.header__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet aut cupiditate deserunt doloribus eius et hic minima nisi nobis placeat quam, quasi quod sed suscipit vel veniam voluptas.
//End block header
