//Start block unity
div.unity
    .container.unity__wrap
        h2.unity__heading На Unity создаются шедевры
        .unity-items
            .unity-items__block.unity-items__block_big
            .unity-items__wrap
                .unity-items__block.unity-items__block_mini
                .unity-items__block.unity-items__block_mini
//End block unity
